<!DOCTYPE html>
<html>
<head>
  <title>Coffeeword</title>
  <%= stylesheet_link_tag    "coffeeword/application", media: "all" %>
  <%= javascript_include_tag "coffeeword/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
